[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf = "*"
pyyaml = "*"
pytest = "*"
google-cloud-storage = "*"
GitPython = "*"
cdktf-cdktf-provider-google = "*"
cdktf-cdktf-provider-googleworkspace = "*"
cdktf-cdktf-provider-null = "*"
jinja2 = "*"
