[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktn = "*"
pyyaml = "*"
pytest = "*"
google-cloud-storage = "*"
GitPython = "*"
cdktn-provider-google = "*"
cdktn-provider-null = "*"
jinja2 = "*"
google-cloud-securesourcemanager = "*"

[dev-packages]
pip = "*"
